@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: #fff;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin: 0 20px 0 -10px;
}

#button {
  padding: 15px 35px;
  border: 2px solid #fff;
  border-radius: 1px;
  font-size: 15px;
}

.footer {
  background: #000;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copy {
  color: #555252;
}

@media (max-width: 449px) {
  .downloadDesc button {
    margin: 10px 0;
  }
}
@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../img/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../img/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../img/home/02.gif);
}
.container00.container04 {
  background-image: url(../../img/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 34.375rem;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 40.625rem;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
.container00.container05 {
  background-image: url(../../img/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../img/falcon9/02.jpg);
}
.container00.carrossel01 {
  background-image: url(../../img/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../img/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../img/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../img/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../img/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../img/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 5.625rem;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.numbers {
  background: #000;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 5.625rem;
}
.numbers .subTitleNumb {
  font-size: 1.25rem;
}

.falcon9Desc {
  font-size: 1.375rem;
  width: 40rem;
  line-height: 3.125rem;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide img {
  height: 100vh;
}

.carrosselText {
  background: #000;
}

.downloadDesc {
  background: #000;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: #555252;
}
.downloadDesc a:hover {
  color: #b9b9b9;
}
.downloadDesc button {
  border: 2px solid #fff;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 5rem;
  }
  .numbers .subTitleNumb {
    font-size: 1.125rem;
  }
  .falcon9Desc {
    font-size: 1rem;
    line-height: 2rem;
    width: auto;
  }
  #overViewPosition {
    padding-top: 25%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 3.125rem;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
  .falcon9Desc {
    font-size: 1.125rem;
    line-height: auto;
  }
  .subTitleFalcon {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
