.container00 {
  &.container01 {
    background-image: url(../../img/home/01.jpg);
  }
  &.container02 {
    background-image: url(../../img/home/03.jpg);
  }
  &.container03 {
    background-image: url(../../img/home/02.gif);
  }
  &.container04 {
    background-image: url(../../img/home/04.jpg);
  }
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 34.375rem;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 40.625rem;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
